<div class="center">
    <button ng-click="performQ()">Perform $q</button>
    <button ng-click="performPromise()">Perform Promise</button>
    <button ng-click="refresh()">Refresh</button>
    
    <span ng-if="showOldData" ng-repeat="result in oldData">
        <p>Name: {{ result.name }}</p>
        <p>User Name: {{ result.username }}</p>
        <p>Email: {{ result.email }}</p>
        <p>City: {{ result.city }}</p>
        <p>Phone: {{ result.phone }}</p>
        <p>Website: {{ result.website }}</p>
        <br>
    </span>

    <span ng-if="showNewData" ng-repeat="result in newData">
        <p>Name: {{ result.name }}</p>
        <p>User Name: {{ result.username }}</p>
        <p>Email: {{ result.email }}</p>
        <p>City: {{ result.city }}</p>
        <p>Phone: {{ result.phone }}</p>
        <p>Website: {{ result.website }}</p>
        <br>
    </span>
</div>