<div ng-controller="View2Ctrl">
    <table>
        <tr>
            <td width="100">ID:</td>
            <td><input type="text" id="id" ng-model="user.id" /></td>
        </tr>
        <tr>
            <td width="100">Name:</td>
            <td><input type="text" id="name" ng-model="user.name" /></td>
        </tr>
        <tr>
            <td width="100">Age:</td>
            <td><input type="text" id="age" ng-model="user.email" /></td>
        </tr>
    </table>

    <button ng-click="getAllUsers()">Get all Users</a><br/><br/>

</div>